/* src/Components/NavBar.css */

.navbar {
  width: 100%;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-size: 45px; /* Default font size */
  text-align: center;
  width: 100%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.nav-link:hover {
  color: #d00000 !important;
}

.navbar-brand:hover {
  color: #d00000 !important;
}

.connect-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paypal-link {
  color: #d00000;
  font-size: 30px;
  margin-left: 15px;
  text-decoration: none;
}

.paypal-link:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 24px; /* Adjust the font size for mobile */
    white-space: normal; /* Allow text to wrap */
  }

  .connect-container a {
    margin: 0 10px;
  }
}
