/* src/Components/NavBar.css */
.navbar {
  background-color: #ffca3a;
  height: 5em;
  font-family: "Custom1";
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center; /* Center items vertically */
  font-size: 35px;
}

.navbar-brand,
.nav-link {
  color: #262626 !important;
  font-size: 95px;
  padding-left: 25px;
}

.navbar-container {
  font-size: 45px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end; /* Align links to the right */
}

.nav-link {
  margin-right: 25px;
  font-size: 5em;
}

.nav-link:hover {
  color: #d00000 !important;
}

.navbar-brand:hover {
  color: #d00000 !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2em;
  }

  .connect-container a {
    margin: 0 10px;
  }
}
