/* src/Components/PayPalEmbed.css */

.paypal-embed {
  text-align: center;
  padding: 20px;
}

.paypal-image-container {
  cursor: pointer;
  display: inline-block;
}

.paypal-image {
  width: 700px; /* Adjust the size as needed */
  height: auto;
  transition: transform 0.2s; /* Add a transition for hover effect */
}

.paypal-image:hover {
  transform: scale(1.05); /* Slightly enlarge the image on hover */
}

@media (max-width: 768px) {
  .paypal-embed {
    padding: 10px;
  }

  .paypal-image {
    width: 350px; /* Adjust the size for mobile */
  }

  h2 {
    font-size: 1.5em; /* Adjust the font size for mobile */
  }
}
